<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codefixia.drumcloud"
    android:versionCode="3"
    android:versionName="1.0.2" >
    
    <uses-sdk
        android:minSdkVersion="10"
        />
	<supports-screens 
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />	
	
    <!-- android:debuggable="true"  -->	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:theme="@style/MyTheme" 
        android:label="DrumCloud" >
        <activity
            android:name="com.codefixia.drumcloud.DrumCloud"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codefixia.googledrive.DummyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name="com.codefixia.googledrive.GoogleDriveService" >
        </service>
        
<activity
    android:name="org.donations.DonationsActivity"
    android:excludeFromRecents="true"
    android:label="Donations"
    android:launchMode="singleTask"
    android:theme="@android:style/Theme.Translucent.NoTitleBar" />

<!-- - Google Play Store donations -->
<service android:name="org.donations.google.BillingService" />

<receiver android:name="org.donations.google.BillingReceiver" >
    <intent-filter>
        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
    </intent-filter>
</receiver>        
    </application>

</manifest>